@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    /* font-family: 'Ubuntu', sans-serif; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(201, 203, 196);
    font-size: 120%;
}

.temp{
    font-size: 30px;
}

.card{
background: black;
color: white;
padding: 2em;
width: 100%;
max-width: 420px;
margin: 1em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 100%;
}

button {
    margin: 0.5em;
    /* border-radius: 50%; */
    height: 40px;
    width: 40px;
    background: #7c7c7c2b;
    border: none;
    color: white;
    cursor: pointer;
}

.description {
    margin-left: 6px;
}

.flex{
    display: flex;
    align-items: center;
}

h1.temp{
    margin: 0;
    margin-bottom: 0.5em;
}

p.copyright {
    position: absolute;
    bottom: 10px;
    color: rgb(0, 0, 0);
}